<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Underscore | Templates</title>
	<script src="../underscore.js"></script>
</head>
<body>
	<script type="text/template" id="template">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Apellidos</th>
					<th>Nombre</th>
				</tr>
			</thead>
			<tbody>
				<% _.each(personas, function (persona, key) { %>
					<tr>
						<td><%= key %></td>
						<td><%= persona.lastName %></td>
						<td><%= persona.firstName %></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
	</script>

	<div id="container"></div>
</body>
</html>
